/* You can add global styles to this file, and also import other style files */


df-messenger {
    --df-messenger-bot-message: rgba(0, 153, 255, 0.712);
    --df-messenger-button-titlebar-color: #FF841A;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: rgba(0, 153, 255, 0.712);
    --df-messenger-user-message: #FF841A;
    }
    